@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.max {
  width: 800px;
  margin: 0;
  p {
    width: 100%;
    font-size: 12.5px;
    font-family: VT323;
    word-break: break-all;
    color: red;
    animation-name: text;
    animation-duration: 15s;
    &:focus {
      outline: none;
    }
  }
}

@keyframes text {
  from {
    font-size: 5px;
    color: white;
  }

  to {
    font-size: 12.5px;
    color: red;
  }
}